html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
div {
  display: block;
}
.wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}
.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1080;
  transition: 0.5s;
  height: 90px;
  border: 0;
}
.header nav {
  width: 100%;
  border: 0;
}
.header.smaller {
  background: white;
  transition: 0.5s;
  height: 60px;
}
.navbar-nav {
  font-size: 14px;
  font-family: serif;
  height: 100%;
}
.nav-item {
  transition: 1s;
}
.dropdown-menu {
  border-radius: 0;
  background-color: black;
  padding: 0;
  margin: 0;
  border: none;
  width: 210px;
}
.dropdown-item {
  color: #cccccc;
  border-bottom: solid 1px white;
  font-size: small;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 0.2s linear;
}
.dropdown-item:hover {
  color: white;
  background-color: #333333;
}
.carousel {
  background-image: url("../background/vintage-wallpaper/vintage-wallpaper.png");
}
img.top-slide-image {
  height: 800px;
  object-fit: cover;
  object-position: center 60%;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.carousel-caption-1 {
  bottom: 45%;
  font-size: 20px;
  font-family: serif;
}
.carousel-caption-2 {
  bottom: 40%;
  font-size: 20px;
  font-family: serif;
}
.carousel-caption-3 {
  bottom: 40%;
  right: 0%;
  font-size: 20px;
  font-family: serif;
}

/* パララックス */
.parallax-wrapper {
  position: relative;
  z-index: -1000;
}
#parallax-box1 {
  position: absolute;
  top: -600px;
}
#parallax-box1 img {
  object-fit: cover;
}
#parallax-box2 {
  position: absolute;
  top: 3000px;
}
#parallax-box2 img {
  object-fit: cover;
}

/* メインコンテンツ */
.main-content {
  margin-top: 500px;
  background-image: url("../background/vintage-wallpaper/vintage-wallpaper.png");
}
.pa_title {
  font-family: serif;
  font-size: 48px;
  background: transparent;
  position: absolute;
  margin-top: -86px;
}
.info_title {
  font-family: serif;
}
.info_text {
  font-family: serif;
  font-size: 12px;
}
.atmosphere_image {
  padding: 120px 0;
  background-image: url("../img/coffee-shop-1149155_1920.jpg");
  background-size: cover;
  background-position: bottom;
}
.atmosphere_box {
  font-family: serif;
  width: 56%;
}
.atmosphere_text {
  font-size: 48px;
}
.atmosphere_subtext {
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 160px;
}
.btn_atmosphere {
  width: 150px;
  background-color: #cfa670;
  color: white;
  font-size: 14px;
}
.cuisine_title {
  font-size: 48px;
  font-family: serif;
}
.cuisine_subtitle {
  font-family: serif;
  letter-spacing: 2px;
}
.cuisine_image {
}
.cuisine_image img {
  max-width: 100%;
  max-height: 100%;
}
